.breadcrumb-triangle.z-depth-1
  a.active(ng-if="searchVM.state.includes('stock.offering.update')", ui-sref="stock.offering.update", ui-sref-opts="{ reload: true }")
    span.item-icon.fa.fa-binoculars
    span.item-text #{ __("Detail") }
  a.active(ng-if="searchVM.state.includes('stock.offering.create')", ui-sref="stock.offering.create", ui-sref-opts="{ reload: true }")
    span.item-icon.fa.fa-plus-circle
    span.item-text #{ __("New") }