// My stock -> Data Offerings
// Nikos 17/06/2019
.container-flex
  .product-container.item-offering.z-depth-1(ng-repeat="offering in searchVM.list")
    a.product-thumbnail.product-container-photo(ui-sref="stock.offering.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }")
      img(no-image, ng-src="{{ offering.getPicture() }}")
      // displaying offering owner
      span.product-city-label {{ "" + offering.productSpecification.brand }}  
    .my_stock-container-info
      .product-container-info-row
        a.product-container-title(ui-sref="stock.profferingoduct.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }") {{ offering.name }}
        .my_stock-container-version v {{ offering.version }}
      .form-group.text-dark-secondary
        p 
          b Last updated: 
          time(am-time-ago="offering.lastUpdate")
        p.product-container-description {{product.description ? product.description : '#{ __("No description provided.") }' }}
    //
        strong {{ offering.formatCheapestPriceplan() }}

