// My stock -> Data Assets
// Nikos 17/06/2019
.container-flex
  .product-container.item-offering.z-depth-1(ng-repeat="product in searchVM.list")
    a.product-thumbnail.product-container-photo(ui-sref="stock.product.update({ productId: product.id })", ui-sref-opts="{ inherit: false }")
      img(no-image, ng-src="{{ product.getPicture() }}")
      // displaying offering owner
      span.product-city-label {{ "" + product.brand }}  
    .my_stock-container-info
      .product-container-info-row
        a.product-container-title(ui-sref="stock.product.update({ productId: product.id })", ui-sref-opts="{ inherit: false }") {{ product.name }}
        .my_stock-container-version v {{ product.version }}
      .form-group.text-dark-secondary
        p 
          b Last updated: 
          time(am-time-ago="product.lastUpdate")
        p.product-container-description {{product.description ? product.description : '#{ __("No description provided.") }' }}

