.row
  .col-xs-12
    .panel.panel-default.z-depth-1(ng-repeat="characteristic in updateVM.item.productSpecCharacteristic", ng-init="characteristicIndex = $index")
      .panel-heading
        .h4
          strong {{ characteristic.name.toLowerCase() === 'asset type' ? 'Data asset type' : characteristic.name.toLowerCase() === 'media type' ? 'Data format' : characteristic.name.toLowerCase() === 'location' ? 'Endpoint URL' : characteristic.name.toLowerCase() === 'fiware-service' ? 'Fiware-Service (tenant name)' : characteristic.name }}      
      .panel-body
        p.text-dark-secondary {{ characteristic.name === 'Fiware-Service' ? 'HTTP header to support multitenancy. The header needs to be added to the requests to identify the service/tenant.' : '' }}
        .form-group
          p(ng-repeat="characteristicValue in characteristic.productSpecCharacteristicValue")
            span.fa.fa-fw.fa-check-circle
            span  {{ updateVM.formatCharacteristicValue(characteristic, characteristicValue) }}

  .col-xs-12(ng-if="!updateVM.item.productSpecCharacteristic.length")
    .alert.alert-info.text-center #{ __("No access information included.") }
.form-group.text-right
  .btn-toolbar.pull-right
     a.btn.btn-success.z-depth-1(ng-if="updateVM.isDigital()" ng-click="updateVM.showUpgrade()")
      span.item-icon.fa.fa-upload
      span.item-text #{ __("Upgrade") }
