.row
  .col-xs-12
    .panel.panel-default.z-depth-1(ng-repeat="characteristic in updateVM.item.productSpecCharacteristic", ng-init="characteristicIndex = $index")
      .panel-heading
        .h4
          strong {{ characteristic.name === 'Asset type' ? 'Data asset type' : characteristic.name === 'Media type' ? 'Data format' : characteristic.name === 'Location' ? 'Endpoint URL' : characteristic.name === 'Fiware-Service' ? 'Fiware-Service (tenant name)' : characteristic.name }}      
      .panel-body
        p.text-dark-secondary {{ characteristic.name === 'Fiware-Service' ? 'HTTP header to support multitenancy. The header needs to be added to the requests to identify the service/tenant.' : '' }}
        .form-group
          .item-radio.readonly(ng-repeat="characteristicValue in characteristic.productSpecCharacteristicValue")
            label.radio
              .track
                input(type="radio", name="{{ 'updateVM_char' + characteristicIndex }}", ng-checked="{{ characteristicValue.default }}")
                i.fa.fa-lg
              | {{ updateVM.formatCharacteristicValue(characteristic, characteristicValue) }}
  .col-xs-12(ng-if="!updateVM.item.productSpecCharacteristic.length")
    .alert.alert-info.text-center #{ __("No characteristics included.") }
.form-group.text-right
  .btn-toolbar.pull-right
     a.btn.btn-success.z-depth-1(ng-if="updateVM.isDigital()" ng-click="updateVM.showUpgrade()")
      span.item-icon.fa.fa-upload
      span.item-text #{ __("Upgrade") }